{% set reviews = __SELF__.reviews %}

{% import 'hounddd.reviews::rating' as reviewMacros %}

<div class="reviews">
    {% for review in reviews %}
    <figure class="review">
        <h2>{{ review.title }}</h2>
        <div class="rating">{{ reviewMacros.rating(__SELF__.ratingDisplay, review.rating) }}</div>
        <blockquote>{{ review.content | nl2br }}</blockquote>
        <figcaption>
            {% if review.avatar %}
                <div class="review--avatar">
                    <img src="{{ review.avatar | resize(120, auto, {'extension':'webp'}) }}" alt="{{ review.avatar.title }}" class="w-full h-full   object-cover" />
                </div>
            {% endif %}
            <div>{{ review.name }}</div>
        </figcaption>
    </figure>
    {% else %}
        <p>{{ __SELF__.noReviewsMessage }}</p>
    {% endfor %}
</div>

{% partial '@pagination' %}
